/* Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');
h2{
    font-size: 2.5rem;
}

h3{
    font-size: 1.5rem;
}

h1, h2, h3,h4{
    color:#387593;

}
.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}
/*default settings*/
* {
    margin: 0;
    padding: 0;
    border: none; 
 }
/*CSS Structural*/
body{
    padding: 0;
    margin: 0;
    font-family:Poppins, sans-serif ;
    font-size: 1.3rem;
}

.col-50{
    width: 50%;
}

.left-column{
    float: left;
}

.right-column{
    float: right;
}

.w100 {
    width: 100%;
}

.section{
    padding: 10px;
}
.mt-5{
    margin-top: 5rem;
    
}

/*Header*/

#hero-text{
    font-size: 130%;
    font-family: Poppins, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 400px;
    height: 400px;
    padding-top: 40px;
    padding-left: 10px;
    bottom: 10px;
    right: 120px;
    position: absolute;
}

/* re-color the h3 element*/
#hero-text h3{
    color: #7a8a21;
}

/*Navigation*/

#logo{
    float: left;
    font-size: 200%;
    margin-left: 30px;
    line-height: 75px;

}

#nav{
    font-size: 1.5rem;
    height: 40px;
    line-height: 75px;
    font-size: 110%;
    letter-spacing: 4px
}

.nav-list-wrapper{
    position: relative;
}

#nav li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#nav #logo{
    float: left;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
}


/*About us*/

#about{
    background-color: #04192c;
}
#about h2 ,h3{
    color: #f1dab8;
}

#list p{
    font-size: 2rem;
    color: #f1dab8;

}

#list li{
    font-size: 1.3rem;
    color: rgb(93, 77, 148);
    list-style-type: circle;

}

/* about us table*/
th, td {
    padding: 15px;
    text-align: left;
    color: #f1dab8;
  }
  th, td {
    border-bottom: 1px solid #ddd;
  }

  tr:hover {
      background-color: rgb(175, 136, 197);
    }

    /*Sign up*/

.signup{
        background-color: #f1dab8;
    }

.title{
        text-align: center;
    }
    


input[type=text], input[type=email] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: none;
        background:#04192c;
        text-align:center;
      }
    
.label{
    text-align: center;
    color: #387593;

}
/* submit button style taken from (www.w3schools.com)*/

.submit-button {
    display: inline-block;
    padding: 8px 10px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color:#f1dab8;
    background-color:#04192c;
    border: none;
    border-radius: 13px;
    box-shadow: 0 9px #999;
    margin: 0;
    
  }
  
  .submit-button:hover {
      background-color: #04192c
    }
  
  .submit-button:active {
    background-color: #f1dab8;
    box-shadow: 0 2px #666;
    transform: translateY(2px);
  }
/* footer*/
footer {
    height: 150px;
    background-color: #04192c;
    

}
footer h2 {
    text-align: center;
    background-color: #04192c;
}
footer p {
    font-family:Poppins, sans-serif ;
    text-align: center;
    padding: 3px;
    background-color: #f1dab8;
    color: #04192c;
   
}

.social-networks{
    text-align: center;
    background-color: #04192c;
}
.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #27298d;
}
