/* Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');
h2{
    font-size: 2.5rem;
}

h3{
    font-size: 1.5rem;
}

h1, h2, h3, h4{
    color:#387593;
}
.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}
/*CSS Structural*/
body{
    padding: 0;
    margin: 0;
    font-family:Poppins, sans-serif ;
    font-size: 1.3rem;
}

.col-50{
    width: 50%;
}

.left-column{
    float: left;
}

.right-column{
    float: right;
}

.w100 {
    width: 100%;
}

.section{
    padding: 10px;
}
.mt-5{
    margin-top: 5rem;
    
}

/*Navigation*/

#nav{
    font-size: 1.5rem;
    height: 40px;
}

.nav-list-wrapper{
    position: relative;
}

#nav li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#nav #logo{
    float: left;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
}


/*About us*/

#list p{
    font-size: 2rem;
    color: rgb(10, 114, 57);

}

#list li{
    font-size: 1.3rem;
    color: rgb(20, 11, 51);

}