/* Fonts*/
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&family=Lato:wght@300&family=Oswald&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
h2{
    font-size: 2.5rem;
}

h3{
    font-size: 1.5rem;
}

h1, h2, h3, h4{
    color:green;
}
.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}
/* default*/
* {
    margin: 0;
    padding: 0;
    border: none;

}
/*CSS Structural*/
body{
    padding: 0;
    margin: 0;
    font-family:EB+Garamond,sans-serif ;
    font-size: 1.3rem;
}

.col-50{
    width: 50%;
}

.left-column{
    float: left;
}

.right-column{
    float: right;
}

.w100 {
    width: 100%;
}

.section{
    padding: 10px;
}
.mt-5{
    margin-top: 5rem;
}

/*Navigation*/

#nav{
    font-size: 1.5rem;
    height: 40px;
}

.nav-list-wrapper{
    position: relative;
}

#nav li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#nav #logo{
    float: left;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
}